.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  .filter-item {
    margin: 0 1rem;
    flex: 0 0 auto;
    align-items: center;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
      color: #666;
    }

    select {
      width: 150px;
    }
  }

  .filter-button-container {
    flex: 1 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
