<div class="page-container">
  <div class="controls-section">
    <button class="app-button" (click)="displayDeleteProductsList()">
      Delete Products
    </button>
    <button class="app-button" (click)="displayAddProductsForm()">
      Add Products
    </button>
    <button class="app-button" (click)="displayAddCategoriesForm()">
      Add Category
    </button>
  </div>
  <div class="displayed-form">
    <div *ngIf="isDeleteProductsVisible" class="products-list">
      <app-product-list
        [products]="products"
        [categoryMap]="categoryMap"
        [isDeletable]="true"
        (deleteProduct)="onDeleteProduct($event)"
      ></app-product-list>
    </div>

    <div *ngIf="isAddProductsVisible">
      <app-product-add [categories]="categories"></app-product-add>
    </div>

    <div *ngIf="isAddCategoryVisible">
      <app-category-add></app-category-add>
    </div>
  </div>
</div>
