<div class="login-container">
  <form (ngSubmit)="onSubmit()">
    <h2>{{ isRegistering ? "Register" : "Login" }}</h2>

    <input
      class="app-input"
      type="text"
      id="username"
      [(ngModel)]="username"
      name="username"
      required
      placeholder="Username"
    />

    <input
      class="app-input"
      type="password"
      id="password"
      [(ngModel)]="password"
      name="password"
      required
      placeholder="Password"
    />

    <div *ngIf="isRegistering" class="admin-checkbox">
      <input type="checkbox" id="admin" [(ngModel)]="isAdmin" name="isAdmin" />
      <label for="admin">Admin</label>
    </div>

    <app-link-button
      [text]="isRegistering ? 'Login' : 'Register'"
      (clicked)="toggleRegister()"
    ></app-link-button>

    <button type="submit" class="app-button">
      {{ isRegistering ? "Register" : "Login" }}
    </button>
  </form>
</div>
