.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  height: 100vh; // Full height of the viewport
  padding: 20px;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      cursor: pointer;
      padding: 10px;
      &:hover {
        background-color: #e2e6ea;
        a {
          color: #007bff;
        }
      }

      a {
        text-decoration: none;
        color: #000;
        font-size: 18px;
        display: block;
      }
    }
  }
}
